<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Patient Detail Table</h1>
    <table border="1">
      <th>Name</th>
      <th>Age</th>
      <th>Date</th>
      <th>Gender</th>
      <th>Married</th>
      <th>Address</th>
      <th>Phone No</th>
      <th>Date of Birth</th>
      <th>Type of Blood</th>
      <th>Complain</th>
      <tbody>
        <% for(var i=0;i<patient.length;i++) {%>
          <tr>
            <td><%= patient[i].name%></td>
            <td><%= patient[i].age%></td>
            <td><%= patient[i].date1%></td>
            <td><%= patient[i].gender%></td>
            <td><%= patient[i].married%></td>
            <td><%= patient[i].address%></td>
            <td><%= patient[i].phone%></td>
            <td><%= patient[i].date2%></td>
            <td><%= patient[i].blood%></td>
            <td><%= patient[i].complain%></td>
            <td><a href="/updatePatientRegistration/<%= patient[i]._id%>"> <input type="button" name="btn1" value="Update"></a> </td>
            <td><input type="button" name="btn2" value="Delete" onclick="del('<%= patient[i]._id%>')"> </td>
          </tr>
          <% }%>
      </tbody>
    </table>
  </body>
  <script type="text/javascript">
    function del(id){
      var y=confirm("Are you sure");
      if(y) location.href="/deleteDataPatientRegistration/"+id;

    }
  </script>
</html>
