<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Token Table</h1>
    <table border="1">
      <th>Patient Name</th>
      <th>Doctor Name</th>
      <th>Desease</th>
      <th>Date</th>
      <th>Count Token</th>
      <th></th>
      <th></th>
      <tbody>
        <% for(var i=0;i<token.length;i++) {%>
          <tr>
            <td><%=token[i].patientName%></td>
            <td><%=token[i].doctorName%></td>
            <td><%=token[i].desease%></td>
            <td><%=token[i].date%></td>
            <td><%=token[i].countToken%></td>
            <td> <a href="/updatetoken/<%=token[i]._id %>"> <input type="button" name="btn1" value="Update"></a> </td>
            <td> <input type="button" name="btn2" value="Delete" onclick="del('<%=token[i]._id%>')"> </td>
          </tr>
          <% }%>
      </tbody>
    </table>
  </body>
  <script type="text/javascript">
    function del(id){
    var y=confirm("Are you sure");
    if(y) location.href="/deleteToken/"+id;
    }
  </script>
</html>
