<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="assets/vendor/vector-map/jqvmap.css">
    <link href="assets/vendor/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/daterangepicker/daterangepicker.css" />
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
    <link rel="stylesheet" href="colorlib-regform-17/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">


    <!-- STYLE CSS -->

    <link rel="stylesheet" href="colorlib-regform-17/css/style.css">
</head>
<style type="text/css">
#img1
{
    height: 420px;
    width: 450px;
}
.card input
{
    width: 300px;
}
    #aaaaa
    {
     width: 900px;
     height: 400px;
     border:px solid black;
     display: none;
 }
#card1
{
    height: 300px;
}
 #bttn
 {

     border-top: 2px;
     border-left: 1px;
     border-right: 1px;
 }
 .custom
 {
     background-color: green;
     height: 50px;
     border-radius: 30px;
 }
 .card{
    width:850px;
    height: 200px;
 }
table
{
    width: 130%;
    background-color: white;
}

 .well
 {
     width: 850px;
    background-color: white;
    margin-top: 25px;

}
#con{
    padding-left: 80px;
}
#addproduct
{
    margin-top: 50px;
}
input
{
    border-top: none;
    border-left: none;
    border-right: none;

    border-bottom: none;
}
</style>

<body>
        <div class="container">
                <div class="row">
                <div class="modal" id="addproduct" tabindex="-1" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                        <h3>View Presciption<a href="" class="pull-right">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&times;</a></h3><br>

                                </div>
                                <div class="modal-body">
                                    <form class="">

                                        <div class="form-wrapper">
                                            <input type="text" placeholder="Name" class="form-control"> <i class="zmdi zmdi-account"></i></div>

                                        <div class="form-wrapper">
                                            <input type="text" placeholder="Disease" class="form-control">
                                            <i class="zmdi zmdi-hospital"></i>
                                        </div>
                                        <div class="form-wrapper">
                                                <input type="text" placeholder="Medicine" class="form-control"> <i class="zmdi zmdi-hospital"></i></div>

                                            <div class="form-wrapper">
                                                <input type="text" placeholder="Date" class="form-control">
                                                <i class="zmdi zmdi-time"></i>
                                            </div>
                                            <div class="form-wrapper">
                                                    <input type="text" placeholder="Doctor" class="form-control">
                                                    <i class="zmdi zmdi-account"></i>
                                                </div>
                                       <div class="form-group">
                                           <button id="click">Submit
                                            <i class="zmdi zmdi-arrow-right"></i>
                                        </button>
                                        <button id="click1">Cancel
                                            <i class="zmdi zmdi-arrow-right"></i>
                                        </button>
                                    </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper con">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="index.html">Clinic Management System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/github.png" alt="" > <span>Github</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/dribbble.png" alt="" > <span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/dropbox.png" alt="" > <span>Dropbox</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/mail_chimp.png" alt="" ><span>Mail chimp</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="assets/images/slack.png" alt="" > <span>Slack</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">Clinic Management System </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="log_in_reception.html"><i class="fas fa-user mr-2"></i>Account</a>

                                <a class="dropdown-item" href="sign_in.html"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="wrapper" style="background-image: url('images/pre2.jpg');">
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Reception</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">

                                Reception Control
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/patientRegistration" ><i class="fa fa-fw fa-user-circle"></i>Add Patient <span class="badge badge-success">6</span></a>

                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/token" ><i class="fa fa-fw fa-user-circle"></i>Token <span class="badge badge-success">6</span></a>

                            </li>
                             <li class="nav-item ">
                                <a class="nav-link active" href="/viewPrecription" ><i class="fa fa-fw fa-user-circle"></i>View Presciption<span class="badge badge-success">6</span></a>

                            </li>
                             <li class="nav-item ">
                                <a class="nav-link active" href="/dischargePatient"><i class="fa fa-fw fa-user-circle"></i>Discharge Patient<span class="badge badge-success">6</span></a>

                            </li>
                            <li class="nav-item ">
                                    <a class="nav-link" href="/appointment"><i class="fa fa-fw fa-user-circle"></i>Add Appointment<span class="badge badge-success">6</span></a>

                            </li>
                            <li class="nav-item ">
                                    <a class="nav-link" href="/viewAppointment"><i class="fa fa-fw fa-user-circle"></i>View Appointment<span class="badge badge-success">6</span></a>

                            </li>
                                <li class="nav-item ">
                                   <a class="nav-link" href="/changeReceptionPassword"><i class="fa fa-fw fa-user-circle"></i>Change Password <span class="badge badge-success">6</span></a>

                               </li>




                            <li class="nav-item">
                                <a class="nav-link" href="/"><i class="fas fa-fw fa-inbox"></i>Log Out <span class="badge badge-secondary">New</span></a>

                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-finance">
                <div id="con" class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->




                    <div class="container">
                        <div class="row">

                         <div class="col-md-12">

                           <div class="inner">
                               <div class="image-holder">
                                   <img style="border:1px solid lightgray;" id="img1" src="image/pre1.jpg" alt="">
                               </div>

                                   <div class="row">
                                       <div class="col-md-12">
                                   <h3> Prescription</h3>
                                   <br>

                               <div class="col-md-12">

                                             <input type="hidden" id="patient" class="form-control" name="pid" value="<%=prescription[0].pid%>" disabled>
                               </div> <br>
                               <div class="col-md-12">
                                       <label for="name">Name</label>&emsp;&emsp;&emsp;
                                              <input type="text"  class="form-control" name="name" value="<%=prescription[0].name%>" disabled>
                                    </div> <br>
                                    <div class="col-md-12">
                                           <label for="patient">Disease</label>&emsp;&emsp;
                                                  <input type="text"  class="form-control" name="disease" value="<%=prescription[0].disease%>" disabled>
                                        </div> <br>
                                          <div class="col-md-12">
                                               <label for="patient">Prescription</label>&emsp;
                                              <input type="label"  class="form-control" name="disease" value="<%=prescription[0].prescript%>" disabled>
                                            </div>
                                            <div class="col-md-12">
                                                 <label for="patient">Type</label>&emsp;
                                                  <input type="text"  class="form-control" name="disease" value="<%=prescription[0].type%>" disabled>
                                              </div>



                           </div>
                     </div>

             </div>
                            <!-- <div class="inner">
                                <div class="image-holder">
                                    <img style="border:1px solid lightgray;" id="img1" src="image/pre1.jpg" alt="">
                                </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                    <h3> Prescription</h3>
                                    <br>

                                <div class="col-md-12">
                                   <label for="patient"> Patient ID</label>&emsp;
                                            <input type="text" id="patient" class="form-control" name="pid" value="<%=prescription[0].pid%>" disabled> </div>
                                </div> <br>
                                <div class="col-md-12">
                                        <label for="name">Name</label>&emsp;&emsp;&emsp;
                                                <input type="text"  class="form-control" name="name" value="<%=prescription[0].name%>" disabled>
                                     </div> <br>
                                     <div class="col-md-12">
                                            <label for="patient">Disease</label>&emsp;&emsp;
                                                    <input type="text"  class="form-control" name="disease" value="<%=prescription[0].disease%>" disabled>
                                         </div> <br>
                                         <div class="col-md-12">
                                                <label for="patient">Prescription</label>&emsp;
                                              <input type="label"  class="form-control" name="disease" value="<%=prescription[0].prescript%>" disabled>
                                            </div> <br>
                                            <div class="col-md-12">
                                                   <label for="patient">Type</label>&emsp;
                                                  <input type="text"  class="form-control" name="disease" value="<%=prescription[0].type%>" disabled>
                                                </div>



                                 <button  id="btn2">Print
                                        <i class="zmdi zmdi-arrow-right"></i>
                                    </button>

                            </div>
                      </div> -->

              </div>
          </div>
          </div>
          <br>
          <div class="container">
                <div class="row">
                    <div class="panel panel-primary" id="view">
                        <div class="panel-heading">

                                <h2>

                            </h2>


                        </div>
                        <div class="panel-body">

                            <div class="col-md-12">

                                                <div class="card" id="card1" >

                                                <h5 style="background-color: silver" class="card-header">Clinic Name
                                             &emsp;&emsp;  &emsp; &emsp;&emsp;&emsp;&emsp;  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                    <img src="image/pre2.jpg" width="100px" height="100px" style="border-radius: 50px;" alt="">
                                                </h5>
                                                <div class="card-body">
                                                        <div  style="max-height: 120px;overflow:auto;width: 810px;">
                                                    <table style="text-align: center;" class="table table-bordered table-striped" border="1" >


                                                        <th>Name</th>
                                                        <th>Disease</th>
                                                        <th>Prescription</th>
                                                        <th>Type</th>


                                                        <tbody>
                                                          <% for(var i=0; i<prescription.length; i++){ %>
                                                          <tr>
                                                            
                                                            <td><%= prescription[i].name%></td>
                                                            <td><%= prescription[i].disease%></td>
                                                            <td><%= prescription[i].prescript%></td>
                                                            <td><%=prescription[i].type%></td>

                                                          </tr>
                                                          <% } %>
                                                        </tbody>
                                                      </table>
                                                </div>
                                                </div>
                                            </div>


                            </div>
                        </div>



                                </div>
                                </div>
                                </div>


           </div>

</div>
</div>
</div>




<script type="text/javascript" src="js/jquery.min.js"> </script>
<script type="text/javascript">

</script>




<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->

<!-- jquery 3.3.1  -->
<script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- bootstap bundle js -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<!-- slimscroll js -->
<script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<!-- chart chartist js -->
<script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
<script src="assets/vendor/charts/chartist-bundle/Chartistjs.js"></script>
<script src="assets/vendor/charts/chartist-bundle/chartist-plugin-threshold.js"></script>
<!-- chart C3 js -->
<script src="assets/vendor/charts/c3charts/c3.min.js"></script>
<script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
<!-- chartjs js -->
<script src="assets/vendor/charts/charts-bundle/Chart.bundle.js"></script>
<script src="assets/vendor/charts/charts-bundle/chartjs.js"></script>
<!-- sparkline js -->
<script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
<!-- dashboard finance js -->
<script src="assets/libs/js/dashboard-finance.js"></script>
<!-- main js -->
<script src="assets/libs/js/main-js.js"></script>
<!-- gauge js -->
<script src="assets/vendor/gauge/gauge.min.js"></script>
<!-- morris js -->
<script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
<script src="assets/vendor/charts/morris-bundle/morris.js"></script>
<script src="assets/vendor/charts/morris-bundle/morrisjs.html"></script>
<!-- daterangepicker js -->
<script src="../../../../cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="../../../../cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
        $("#aa").click(function()
        {
            $("#addproduct").show();
            $(".con").fadeTo(500,0.3);
            // $("#con1").fadeTo(500,0.3);
            // $("#img4").fadeTo(500,0.3);
        })
          $("#bb").click(function()
         {
          $("#addproduct").show();
          $(".con").fadeTo(500,0.5);
        //   $("#img4").fadeTo(500,0.5);
            })


    </script>
</body>
</html>
